/* src/components/Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1c1c1c;
  padding: 1rem 2rem;
  color: white;
}

.navbar-section {
  flex: 1;
  text-align: center;
}

.navbar-section.left {
  text-align: left;
}

.navbar-section.center {
  text-align: center;
}

.navbar-section.right {
  text-align: right;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #ffc107;
}

/* زر تسجيل الخروج */
.logout-button {
  background-color: #ff5252;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-left: 1rem;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #e04848;
}

  